table {
    border-collapse: collapse;
    width: 100%;
}

table thead td, th {
    border: solid #ddd 1px;
    font-size: 14px;
    padding: 10px 10px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover { 
    background-color: #ddd;
}

table th {
    padding: 15px 10px !important;
    text-align: left;
    background-color: #555555;
    color: white;
}

.button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif !important;
}

.buttonBig {
    width: 100%;
}
.buttonSmall {
    width: 15%;
}

.smallCol {
    width: 10%;
}

.mediumCol {
    width: 15%;
}

.titleDiv {
    background-color: #ccc;
    width: 100%;
}

.title {
    color: #333;
    padding: 1%;
    background-color: #ccc;
    margin-top: 20px;
}

.titleFix {
    margin-bottom: -5px;
}

.block {
    display: inline-block;
}

.title:hover {
    cursor: pointer;
}

.upArrow, .downArrow {
    float: right;
    margin-right: 2.5%;
}

.add {
    position: relative;
    bottom: 6px;
    left: 20px;
}

.buttonInputSpecial {
    width: 10%;
    color: white;
    padding: 1%;
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif !important;
}

.dataTalbes_length {
    color: #333;
    float: left;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#myTable {
    padding: 5px 0;
}

.myTable {
    padding: 5px 0;
}